html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Tahoma;
    background: #e4e4e4;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px;
}

h2 {
    font-size: 14px;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 600px;
    border: solid 1px #6A6580;
    margin: 0 auto;
}

.column {
    width: 50%;
    border: 1px groove;
    overflow: hidden;
}

.column_title, .column_data {
    width: 100%;
}

.column_title {
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #6A6580;
}

.column_data {
    padding: 10px 5px;
}

    .column_data li {
        padding-bottom: 2px;
        border-bottom: 1px solid #6A6580;
        margin-bottom: 10px;
    }

        .column_data li:last-child {
            padding-bottom: 0px;
            border-bottom: none;
            margin-bottom: 0px;
        }

    .column_data img {
        width: 100px;
    }

    .column_data p {
        font-size: 12px;
    }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
